

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <h1>Shell Header</h1>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
